{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "printWidth": 80
  }
  